
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 114,137,218;
  --accentcolor2: 255,115,250;
  --linkcolor: 0,176,244;
  --mentioncolor: 250,166,26;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: gg sans;
  --backgroundaccent: 50,50,50;
  --backgroundprimary: 30,30,30;
  --backgroundsecondary: 20,20,20;
  --backgroundsecondaryalt: 15,15,15;
  --backgroundtertiary: 10,10,10;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
}


